@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

@font-face{font-family:eudoxus sans;src:url(https://stijndv.com/fonts/EudoxusSans-Bold.woff2) format('woff2'),url(https://stijndv.com/fonts/EudoxusSans-Bold.woff) format('woff');font-weight:700;font-style:normal;font-display:block}@font-face{font-family:eudoxus sans;src:url(https://stijndv.com/fonts/EudoxusSans-Regular.woff2) format('woff2'),url(https://stijndv.com/fonts/EudoxusSans-Regular.woff) format('woff');font-weight:400;font-style:normal;font-display:block}@font-face{font-family:eudoxus sans;src:url(https://stijndv.com/fonts/EudoxusSans-Light.woff2) format('woff2'),url(https://stijndv.com/fonts/EudoxusSans-Light.woff) format('woff');font-weight:300;font-style:normal;font-display:block}@font-face{font-family:eudoxus sans;src:url(https://stijndv.com/fonts/EudoxusSans-ExtraBold.woff2) format('woff2'),url(https://stijndv.com/fonts/EudoxusSans-ExtraBold.woff) format('woff');font-weight:800;font-style:normal;font-display:block}@font-face{font-family:eudoxus sans;src:url(https://stijndv.com/fonts/EudoxusSans-ExtraLight.woff2) format('woff2'),url(https://stijndv.com/fonts/EudoxusSans-ExtraLight.woff) format('woff');font-weight:200;font-style:normal;font-display:block}@font-face{font-family:eudoxus sans;src:url(https://stijndv.com/fonts/EudoxusSans-Medium.woff2) format('woff2'),url(https://stijndv.com/fonts/EudoxusSans-Medium.woff) format('woff');font-weight:500;font-style:normal;font-display:block}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    rgb(74, 21, 79) 0%,
    rgb(0, 0, 0) 26%,
    rgb(79, 60, 128) 39%,
    rgb(0, 0, 0) 50%,
    rgb(0, 0, 0) 61%,
    rgb(23, 41, 79) 74%,
    rgb(0, 0, 0) 100%
  );
  filter: blur(125px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #c3800b 0%,
    #161baa 53.65%,
    #000075 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(177, 111, 111, 0.161);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 154px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: #507adaea;
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #161baa;
  filter: blur(150px);
}

.underline-animation {
  position: relative;
  display: inline-block;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: black;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff5722; /* Change this to your desired underline color */
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s;
}

.underline-animation:hover {
  color: #ff5722; /* Change this to your desired link color on hover */
  transform: translateY(-2px);
}

.underline-animation:hover::after {
  transform: scaleX(1);
}